  .title {  
  	font-size: 2em;
  	background-color: #FFFFFF;
  	text-align: center; 
  } 


  .subtitle {  
  	font-size: 1em; 
  	text-align: center;
  }


  ol { 
  	font-size: 1.2em; 
  }


  body { 
  	background-color: #FDDCDC; 
  }
